body {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: max-content;
}

body * {
    margin: 10px;
    padding: 10px;
    border: 1px solid blue;
}

input {
    min-width: 400px;
}

button {
    cursor: pointer;
}

.output {
    min-height: 100px;
}
